@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-zinc-900);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html body ::-webkit-scrollbar {
  width: 10px; /* Un ancho más pequeño pero aún accesible */
}

html body ::-webkit-scrollbar-track {
  background: #222; /* Fondo oscuro y elegante para el track */
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra interna para dar profundidad */
}

html body ::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)); /* Gradiente suave para el thumb */
  border-radius: 10px;
  border: 2px solid #444; /* Borde sutil con un tono más oscuro */
  transition: background 0.4s ease, transform 0.3s ease; /* Transición suave */
}

html body ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1)); /* Aumenta el contraste al hacer hover */
  transform: scale(1.1); /* Se agranda ligeramente */
}

html body ::-webkit-scrollbar-thumb:active {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)); /* Colores más vivos cuando se hace clic */
  transform: scale(1.05); /* Efecto sutil de "presionar" */
}

@keyframes bounceSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.animate-bounceSlow {
  animation: bounceSlow 2s infinite ease-in-out;
}

@font-face {
  font-family: 'Clash';
  src: url('/custom/fonts/ClashDisplay-Variable.woff2') format('woff2'),
       url('/custom/fonts/ClashDisplay-Variable.woff') format('woff');
}

.clash {
  font-family: 'Clash', sans-serif;
  font-weight: 400;
}

.clash-title {
  font-family: 'Clash', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

